DATABASE_URL=
# Optional but recommended for Prisma in some setups (e.g. pooled vs direct connections)
DIRECT_URL=

NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=

JWT_SECRET=test

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
